<!DOCTYPE html>
<html lang"en">
    <head>
        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" type="text/css">
        <title>jcil</title>

    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <img src="resources/img/logo.jpeg" alt="jcil logo" class="logo">
                    <ul class="main-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </nav>
            <div class="hero-text-box">
                <h1>Let us take the stress out of your move</h1>
                <a class="btn btn-full" href="#">Get a quote</a>
                <a class="btn btn-ghost" href="#">Sign up</a>
            </div>
        </header>
        <section class="section-features">
            <div class="row">
                
                <h2>Fast &mdash; Reliable</h2>
                <p class="long-copy">
                    We cover most part of Lagos for all your deliveries.
                </p>
            </div>
            <div class="row">
                <div class="col span-1-of-4 box">
                    <i class="ion-heart icon-big"></i>
                    <h3>EXPRESS DELIVERY SERVICES</h3>
                    <p>
                        This service is more than just a delivery service. With an established reputation for speed and reliability, JCIL offers priority courier services to meet your needs every single hour of every single day. If getting that package to its destination is important to you, then it's definitely important to us.
                    </p>
                </div>
                <div class="col span-1-of-4 box">
                        <i class="ion-ios-stopwatch-outline icon-big"></i>
                    <h3>PICKUP AND DELIVERY SERVICES</h3>
                    <p>
                        Enjoy the convenience of our flexible pick up service option - which means we collect your consignment at a time that suits you. We can also schedule regular daily pick-ups at fixed times or on select days. Friday pick-ups are also available if requested.
                    </p>
                </div>
                <div class="col span-1-of-4 box">
                        <i class="ion-ios-stopwatch-outline icon-big"></i>
                    <h3>JCIL BUSINESS SOLUTIONS</h3>
                    <p>
                        We offer complete business solutions to drive results for your business. We are offering fast and easy business support solutions to small, medium, large organizations. We treat customers all the same with commitment 
                        and respect. No matter the quantity, big or small it gets to delivered any day any time you can rely on us. We guarantee a wonderful delivery. Need anything to be delivered? Just phone up and we’ll be right there.                        
                    </p>
                </div>
                <div class="col span-1-of-4 box">
                        <i class="ion-ios-stopwatch-outline icon-big"></i>
                    <h3>Up to 365 days/year</h3>
                    <p>
                        Never worry about getting your goods to the customers. our subscription plans include up to 365 days/year coverage.
                        You can also choose more flexibility if that is your style.
                    </p>
                </div>
            </div>
        </section>    


    </body>
</html>